{% extends 'base.html.twig' %}

{% block title %}Edit Admin{% endblock %}

{% block body %}
    <div class='d-flex align-items-center flex-column'>
        <div class='d-flex justify-content-center gap-4 align-items-center'>
            <a href="{{ path('app_admin_index') }}" class="btn btn-primary"> < </a>
            <h1>Edit Admin</h1>
            {{ include('admin/_delete_form.html.twig') }}
        </div>

        {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
