
        <a href="{{ path('app_category_index') }}">Go to Category</a>
<a href="{{ path('app_article_index') }}">Go to Article</a>
<a href="{{ path('app_comment_index') }}">Go to Comment</a>
<a href="{{ path('app_login') }}">Go to Login</a>