{{ form_start(form) }}
    {{ form_widget(form) }}
    {# Form rox needed here #}
    {# <label for="isPremium">Is premium ?</label>
    <input type="checkbox" name="isPremium" id="isPremium"> #}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
